<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tool_Room_System.Properties.Settings.CET_TOOLROOMConnectionString"
            connectionString="Data Source=LAPTOP-P93JFCQB\SQLEXPRESS;Initial Catalog=CET_TOOLROOM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>